.linkContainer {
    border: 3px solid green;
}
.linkFull {
    height: 50px;
    width: 100%;
    /* Give it a red border and make inside semitransluscent red striped background */
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 0, 0, 0.2),
        rgba(255, 0, 0, 0.3) 10px,
        rgba(255, 0, 0, 0.4) 10px,
        rgba(255, 0, 0, 0.5) 20px
    );
    border: 1px solid red;
}

/* content that is displayed when screen width is above 1080px */
@media (min-width: 1080px) {
    /* warning: extreme vibe-based positioning */
    #hero {
        position: absolute;
        top: 22vh;
        left: 60%;
        width: 40vw;
        z-index: 2
    }
    #hero-shadow {
        position: absolute;
        top: 27vh;
        left: 57%;
        width: 40vw;
        overflow: hidden;
        z-index: 1
    }
}

/* hide content */
@media (max-width: 1080px) {
    #hero, #hero-shadow {
        display: none; /* Hide elements completely */
    }
}