/* Include the palette file */
@import url("palette.css");

body {
    background-color: antiquewhite; /* Temporary BG */
    overflow: hidden;
}

/* Social Link rows section  */
#linkContainer {
    border: 3px solid blue;
    /* TODO: Limit the height of this as appropriate to enforce scrollbar usage */
    display: flex; /* Makes child divs be lined one after the other */
    flex-direction: column; /* Makes child divs be lined one after the other */
    /* Add gap between children */
    gap: 0.5vh; /* Space between the rows */

    /* DEBUGGING: bleu */
    background: repeating-linear-gradient(
        30deg,
        rgba(0, 0, 255, 0),
        rgba(0, 0, 255, 0) 10px,
        rgba(0, 0, 255, 0.1) 10px,
        rgba(0, 0, 255, 0.1) 30px
    );
}
.linkFull {
    height: var(--linkSize);
    width: 100%;
    display: flex; /* Makes child divs be lined one after the other */
    padding-right: 40%; /* Space for the right side of the screen to not overlap w/ bust*/
    padding-left: 2%; /* Space for the left side's indent*/
    box-sizing: border-box; /* Include padding and border in element's total width and height */

    /* DEBUGGING: to be visible prior to any actual styling */
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 0, 0, 0),
        rgba(255, 0, 0, 0) 10px,
        rgba(255, 0, 0, 0.2) 10px,
        rgba(255, 0, 0, 0.2) 20px
    );
    border: 1px solid red;
}
.linkSection:nth-child(1) {
    margin-right: 1%; /* Space between the first and second link sections */
}
.linkSection:nth-child(2) {
    margin-right: 0.25%; /* Space between the second and third link sections */
}
.linkSection {
    height: 100%; /* Full height of parent div */
    flex: 1; /* Makes child divs take up equal space */
    font: 1em "P4", sans-serif;
    color: green;
    box-sizing: border-box; /* Include padding and border in element's total width and height */

    /* DEBUGGING: Green striped transluscent */
    background: repeating-linear-gradient(
        60deg,
        rgba(0, 255, 0, 0),
        rgba(0, 255, 0, 0) 10px,
        rgba(0, 255, 0, 0.3) 10px,
        rgba(0, 255, 0, 0.3) 15px
    );
    border: 1px solid green;
}

#headerContainer {
    color: brown;
    font-size: 5em;
    font-family: "P4";
}

/* content that is displayed when screen width is above 1080px */
@media (min-width: 1080px) {
    /* warning: extreme vibe-based positioning */
    /* TODO: Look into setting these as relative positionings to screen size, as we are no doubt looking at different placements due to resolution */
    #hero {
        position: absolute;
        bottom: -8.5vh;
        right: -9vw;
        width: 53vw;
        height: 93vh;
        filter: drop-shadow(-3vw 6vh #252525);
    }
    #star {
        position: absolute;
        top: -2vh;
        left: 88%;
        width: 13vw;
        overflow: hidden;
        animation-name: spin;
        animation-duration: 11s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        filter: drop-shadow(-1.5vw 2vh #ffa300);
    }
}

/* ingame screenshot overlaid on top of website */
#debug {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    pointer-events: none;
    opacity: 0.2;
    z-index: 9999;
}

/* hide content */
@media (max-width: 1080px) {
    #hero,
    #star {
        display: none; /* Hide elements completely */
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
