/* Include the palette file */
@import url("palette.css");

body {
    background-color: antiquewhite; /* Temporary BG */
}

.linkContainer {
    border: 3px solid green;
}
.linkFull {
    height: var(--linkSize);
    width: 100%;
    /* DEBUGGING: to make visible */
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 0, 0, 0.2),
        rgba(255, 0, 0, 0.3) 10px,
        rgba(255, 0, 0, 0.4) 10px,
        rgba(255, 0, 0, 0.5) 20px
    );
    border: 1px solid red;
}

#headerContainer {
    color: brown;
    font-size: 5em;
    font-family: "P4";
}

/* content that is displayed when screen width is above 1080px */
@media (min-width: 1080px) {
    /* warning: extreme vibe-based positioning */
    #hero {
        position: absolute;
        top: 22vh;
        left: 60%;
        width: 40vw;
        z-index: 2;
    }
    #hero-shadow {
        position: absolute;
        top: 27vh;
        left: 57%;
        width: 40vw;
        overflow: hidden;
        z-index: 1;
    }
}

/* hide content */
@media (max-width: 1080px) {
    #hero,
    #hero-shadow {
        display: none; /* Hide elements completely */
    }
}
